In [4]:
import numpy as np
import pandas as pd

In [2]:
DATA_PATH = "/content/drive/MyDrive/멋쟁이사자차럼/data1/"

In [4]:
# xlsx 파일 읽기
df_company = pd.read_excel(f"{DATA_PATH}시도_·_산업별_사업체수__종사자수_및_매출액_2017~2022.xlsx")
# csv 파일로 저장
df_company.to_csv(f"{DATA_PATH}사업체수_데이터.csv", index=False)

In [10]:
df_facility = pd.read_csv(f"{DATA_PATH}공공·문화체육시설__학교_등_20241011151354.csv", encoding='cp949')
df_bus = pd.read_csv(f"/content/drive/MyDrive/멋쟁이사자차럼/data1/응용 지표(정류장 공급도)_2018~2023.csv", encoding='cp949')
df_age = pd.read_csv(f"/content/drive/MyDrive/멋쟁이사자차럼/data1/주민등록_인구_성_행정구역_시군구__연령5세별__20241011123818.csv", encoding='cp949')

## 인구수 데이터 전처리

In [11]:
df_age = pd.read_csv(f"/content/drive/MyDrive/멋쟁이사자차럼/data1/주민등록_인구_성_행정구역_시군구__연령5세별__20241011123818.csv", encoding='cp949')

In [12]:
## 1,2 행 열이름 합치기

# 1, 2행을 선택해서 문자열로 변환
row_1 = df_age.iloc[0].astype(str)
row_2 = df_age.iloc[1].astype(str)

# 기존 컬럼 이름과 1, 2행을 합쳐서 새로운 컬럼 이름 생성
new_columns = df_age.columns.astype(str) + '_' + row_1 + '_' + row_2

# 데이터프레임에 새로운 컬럼 이름 적용
df_age.columns = new_columns

# 이제 1, 2행을 제거한 후 새로운 데이터프레임 생성
df_age = df_age.drop([0, 1]).reset_index(drop=True)

In [13]:
# 1, 2열의 컬럼명을 수정
df_age.columns.values[0] = '행정구역별(1)'
df_age.columns.values[1] = '연령별(1)'

In [15]:
# 3열부터 시작하는 컬럼명에서 마지막 _와 그 뒤 숫자 제거
df_age.columns = [col.rsplit('_', 1)[0] if '_' in col and col.rsplit('_', 1)[1].isdigit() else col for col in df_age.columns]

In [16]:
df_age

,행정구역별(1),연령별(1),2017_전체,2017.1_여자,2017.2_남자,2018_전체,2018.1_여자,2018.2_남자,2019_전체,2019.1_여자,...,2020.2_남자,2021_전체,2021.1_여자,2021.2_남자,2022_전체,2022.1_여자,2022.2_남자,2023_전체,2023.1_여자,2023.2_남자
0,전국,0-4세,2079115,1012935,1066180,1974244,961864,1012380,1845122,898582,...,860253,1530469,745044,785425,1427590,696036,731554,1334588,650939,683649
1,전국,5-9세,2356083,1144414,1211669,2328818,1132341,1196477,2321792,1130117,...,1175459,2229881,1087508,1142373,2105052,1026227,1078825,1998304,973943,1024361
2,전국,10-14세,2350767,1134559,1216208,2325548,1124909,1200639,2299958,1114257,...,1204016,2364196,1148276,1215920,2357952,1145771,1212181,2330969,1133765,1197204
3,전국,15-19세,2953658,1412175,1541483,2805605,1344046,1461559,2659052,1275790,...,1274757,2345120,1129691,1215429,2345244,1133826,1211418,2320491,1124356,1196135
4,전국,20-24세,3486427,1645946,1840481,3414902,1619736,1795166,3319645,1582770,...,1695036,3121322,1497147,1624175,2941841,1409469,1532372,2794440,1341451,1452989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,제주도,80-84세,13565,8934,4631,13929,8993,4936,14466,9243,...,5505,15800,9873,5927,16454,10172,6282,16662,10234,6428
391,제주도,85-89세,6535,5080,1455,7539,5713,1826,8258,6099,...,2470,9430,6734,2696,9834,6900,2934,10162,7034,3128
392,제주도,90-94세,2323,2015,308,2180,1867,313,2684,2245,...,502,3307,2727,580,3698,2986,712,4221,3380,841
393,제주도,95-99세,899,799,100,1162,1048,114,1058,948,...,96,906,824,82,818,747,71,765,688,77
394,제주도,100세 이상,242,215,27,247,220,27,270,236,...,40,195,185,10,231,222,9,295,278,17

# 사업체 전처리

In [16]:
df_company

,행정구역별,산업별,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1
0,행정구역별,산업별,사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명),사업체수 (개),종사자수 (명)
1,전국,전체 산업,4019872,21626904,4103172,22234776,4176549,22723272,6032022,24813449,6079702,24931600,6139899,25217123
2,전국,"농업, 임업 및 어업(01~03)",3880,40642,4261,42324,4522,43920,12707,63990,12775,66163,13102,66605
3,전국,광업(05~08),2001,15421,1916,14998,1776,14887,2205,14941,2104,14863,1936,14442
4,전국,제조업(10~34),433684,4103986,437024,4105871,440766,4123817,579645,4260429,579050,4217537,586532,4253904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,제주,"공공행정, 국방 및 사회보장 행정(84)",209,12268,213,14120,212,14735,209,15385,217,16794,217,18125
357,제주,교육 서비스업(85),2584,19577,2679,20773,2851,21950,3486,21797,3789,22525,3820,22845
358,제주,보건업 및 사회복지 서비스업(86~87),1898,22451,1956,23810,2037,25268,2130,28335,2160,28769,2260,29177
359,제주,"예술, 스포츠 및 여가관련 서비스업(90~91)",1668,10241,1801,11578,1945,11673,2483,11723,2645,12044,2715,12417
360,제주,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",5348,11707,5587,12426,5816,13268,6778,13614,7144,14148,7319,14428

In [17]:
## 1,2 행 열이름 합치기

# 1, 2행을 선택해서 문자열로 변환
row_1 = df_company.iloc[0].astype(str)
row_2 = df_company.iloc[1].astype(str)

# 기존 컬럼 이름과 1, 2행을 합쳐서 새로운 컬럼 이름 생성
new_columns = df_company.columns.astype(str) + '_' + row_1 + '_' + row_2

# 데이터프레임에 새로운 컬럼 이름 적용
df_company.columns = new_columns

# 이제 1, 2행을 제거한 후 새로운 데이터프레임 생성
df_company = df_company.drop([0, 1]).reset_index(drop=True)

# "종사자수"가 들어간 열을 찾아서 제거
df_company.drop(columns=[col for col in df_company.columns if '종사자수' in col], inplace=True)

In [26]:
# 변경할 컬럼 이름 리스트
new_columns = ['행정구역별', '산업별',
               '2017_사업체수',
               '2018_사업체수',
               '2019_사업체수',
               '2020_사업체수',
               '2021_사업체수',
               '2022_사업체수']

# 전체 컬럼 이름 수정
df_company.columns = new_columns

# 시설 데이터 전처리

In [33]:
######################
## 1,2 행 열이름 합치기

# 1, 2행을 선택해서 문자열로 변환
row_1 = df_facility.iloc[0].astype(str)
row_2 = df_facility.iloc[1].astype(str)

# 기존 컬럼 이름과 1, 2행을 합쳐서 새로운 컬럼 이름 생성
new_columns = df_facility.columns.astype(str) + '_' + row_1 + '_' + row_2

# 데이터프레임에 새로운 컬럼 이름 적용
df_facility.columns = new_columns

# 이제 1, 2행을 제거한 후 새로운 데이터프레임 생성
df_facility = df_facility.drop([0, 1]).reset_index(drop=True)

########################
## 면적 drop

# '면적'이 포함된 열을 제거
df_facility = df_facility.drop(columns=[col for col in df_facility.columns if '면적' in col])

#######################
## 세부사항 수정

# 특정 컬럼명 수정
df_facility = df_facility.rename(columns={'소재지(시도)별(1)_소재지(시도)별(1)_소재지(시도)별(1)': '지역'})

# '면적'이라는 단어를 컬럼명에서 제거
df_facility.columns = df_facility.columns.str.replace('(개)', '')

# 버스 데이터 전처리

In [6]:
df_bus.head(2)

,연도,2019,2019.1,2019.2,2019.3,2020,2020.1,2020.2,2020.3,2021,...,2021.2,2021.3,2022,2022.1,2022.2,2022.3,2023,2023.1,2023.2,2023.3
0,시도,시도,시가화면적(㎢),정류장수,공급도,시도,시가화면적(㎢),정류장수,공급도,시도,...,정류장수,공급도,시도,시가화면적(㎢),정류장수,공급도,시도,시가화면적(㎢),정류장수,공급도
1,서울특별시,서울특별시,362,20432,56.4,서울특별시,362,20675,57.1,서울특별시,...,14753,39.7,서울특별시,371.8,14775,39.7,서울특별시,371.8,15163,40.8

In [7]:
# 시도별 연도별 정류장 수 선택
columns_needed = ['연도', '2019.2', '2020.2', '2021.2', '2022.2', '2023.2']
filtered_data = df_bus[columns_needed]

# 연도별로 컬럼명 변경
filtered_data.columns = ['시도', '2019', '2020', '2021', '2022', '2023']

# 첫 번째 행 삭제
filtered_data = filtered_data.drop(index=0)

# 정류장 수를 숫자형으로 변환
filtered_data[['2019', '2020', '2021', '2022', '2023']] = filtered_data[['2019', '2020', '2021', '2022', '2023']].apply(pd.to_numeric, errors='coerce')

In [10]:
df_bus = filtered_data

# 전처리들 합치기

In [ ]:
# 버스 데이터에 전국 행 추가

# '시간'과 '거리' 열의 합계를 계산
total_row = df_bus[['2019','2020','2021','2022', '2023']].sum()

# 새로운 '전국' 행 생성
new_row = pd.Series(['전국', total_row['2019'], total_row['2020'],total_row['2021'],total_row['2022'],total_row['2023']], index=df_bus.columns)

# 새로운 행을 데이터프레임에 추가
df_bus = pd.concat([pd.DataFrame([new_row]), df_bus], ignore_index=True)

# 결과 확인
print(df_bus)

         시도    2019    2020   2021    2022    2023
0        전국  112617  115915  93372  100041  101658
1     서울특별시   20432   20675  14753   14775   15163
2     부산광역시    7397    7541   7373    7582    7606
3     대구광역시    2913    2941   2998    3042    3079
4     인천광역시    5410    5493   4837    5460    5566
5     광주광역시    1941    1934   1923    1958    1950
6     대전광역시    2525    2556   2267    2394    2446
7     울산광역시    2315    2381   2299    2437    2437
8   세종특별자치시     905     959    867     962    1024
9       경기도   30558   30926  28611   30390   30953
10      강원도    4076    4013   3178    3381    4292
11     충청북도    2828    2878   2604    3031    3129
12     충청남도    6254    6914   2885    3297    3832
13     전라북도    2538    2673   2171    2742    2538
14     전라남도    4266    4387   3081    3354    2848
15     경상북도    8664    9513   4210    4892    4825
16     경상남도    6551    6769   6549    7261    6864
17  제주특별자치도    3044    3362   2766    3083    3106

In [ ]:
print(df_facility.head())
# print(df_company.head())
# print(df_bus.head())
# print(df_age.head(3))
#print(df_age.tail(3))

   지역 2017_학교_시설수  2017.2_운동장_시설수  2017.4_공공청사_시설수  2017.6_문화시설_시설수   \
1  서울      9.86837         2.95858        11.825773        11.334746
2  부산     4.995766        3.550296         5.958023         3.919492
3  대구     3.818028        1.775148           2.3471         1.271186
4  인천     4.726349         2.95858         4.987587         6.144068
5  광주      2.37857        1.183432         2.076281         2.118644

  2017.8_체육시설_시설수  2018_학교_시설수  2018.2_공공청사_시설수  2018.4_문화시설_시설수   \
1         4.006678     9.770817        11.660468        11.246201
2         2.003339     5.019099         6.322468         4.052685
3         1.001669     3.758594          2.29709         1.215805
4         4.173623     4.675325         4.966091         5.572442
5         1.168614     2.360581         2.034566         2.026342

  2018.6_체육시설_시설수   ... 2020.4_문화시설_시설수  2020.6_체육시설_시설수  2021_학교_시설수   \
1         3.878702  ...        11.374408         4.118051     9.485628
2           2.2567  ...         4.170616         2.196294     4.969743
3         1.057828  ...         1.232227         1.235415     3.721634
4         3.949224  ...         5.592417         3.980782     4.848714
5          1.12835  ...         2.085308         1.098147      2.30711

  2021.2_공공청사_시설수  2021.4_문화시설_시설수  2021.6_체육시설_시설수  2022_학교_시설수   \
1        11.780483        11.131555         4.144385     9.501956
2         5.776769         4.047838         2.205882     4.942823
3         2.228182         1.195952         1.203209     3.701475
4         5.095936         5.519779          3.94385     5.048149
5         1.939344         2.023919         1.069519     2.302137

  2022.2_공공청사_시설수  2022.4_문화시설_시설수  2022.6_체육시설_시설수
1        11.814687        11.170213         4.246848
2         5.644346         3.989362         2.189781
3         2.205139         1.329787         1.260783
4         5.098119         5.319149          3.98142
5         1.962371          2.12766         1.194426

[5 rows x 26 columns]

# 백분율화

## facility

In [ ]:
print(df_facility.head())
print(df_facility.shape)

      지역  2017_학교_시설수   2017.2_운동장_시설수   2017.4_공공청사_시설수   2017.6_문화시설_시설수   \
0     전국         12991              169              4431               944
1  서울특별시          1282                5               524               107
2  부산광역시           649                6               264                37
3  대구광역시           496                3               104                12
4  인천광역시           614                5               221                58

   2017.8_체육시설_시설수   2018_학교_시설수   2018.2_공공청사_시설수   2018.4_문화시설_시설수   \
0              1198         13090              4571               987
1                48          1279               533               111
2                24           657               289                40
3                12           492               105                12
4                50           612               227                55

   2018.6_체육시설_시설수   ...  2020.4_문화시설_시설수   2020.6_체육시설_시설수   2021_학교_시설수   \
0              1418  ...              1055              1457         13220
1                55  ...               120                60          1254
2                32  ...                44                32           657
3                15  ...                13                18           492
4                56  ...                59                58           641

   2021.2_공공청사_시설수   2021.4_문화시설_시설수   2021.6_체육시설_시설수   2022_학교_시설수   \
0              4847              1087              1496         13292
1               571               121                62          1263
2               280                44                33           657
3               108                13                18           492
4               247                60                59           671

   2022.2_공공청사_시설수   2022.4_문화시설_시설수   2022.6_체육시설_시설수
0              4943              1128              1507
1               584               126                64
2               279                45                33
3               109                15                19
4               252                60                60

[5 rows x 26 columns]
(18, 26)

In [ ]:
# '전국'의 값 가져오기 (첫 번째 행)
national_row = df_facility.iloc[0, 1:]

# 다른 행들을 '전국' 값으로 나누어 백분율화
percentage_data =  df_facility.iloc[1:, 1:].div(national_row)*100

In [ ]:
# 지역 이름을 다시 추가하고 데이터 병합
percentage_data['지역'] = df_facility['지역'][1:].values
percentage_data = percentage_data[['지역'] + list(percentage_data.columns[:-1])]

In [ ]:
df_facility = percentage_data
print(df_facility)

         지역 2017_학교_시설수  2017.2_운동장_시설수  2017.4_공공청사_시설수  2017.6_문화시설_시설수   \
1     서울특별시      9.86837         2.95858        11.825773        11.334746
2     부산광역시     4.995766        3.550296         5.958023         3.919492
3     대구광역시     3.818028        1.775148           2.3471         1.271186
4     인천광역시     4.726349         2.95858         4.987587         6.144068
5     광주광역시      2.37857        1.183432         2.076281         2.118644
6     대전광역시     2.724963        1.183432         2.098849         1.694915
7     울산광역시     2.224617        1.183432         1.986008          1.90678
8   세종특별자치시     1.077669        1.775148         2.843602         1.588983
9       경기도     22.05373       21.301775         25.02821         23.09322
10      강원도     5.411439         8.87574          4.17513             6.25
11     충청북도     4.110538         8.87574         5.168134         3.283898
12     충청남도     5.642368        7.100592         5.145565         4.766949
13     전라북도     6.165807        5.325444         3.972015         4.555085
14     전라남도      7.03564         8.87574         6.183706          8.15678
15     경상북도     7.828497       13.609467         5.890318        11.440678
16     경상남도     8.390424         8.87574         9.365832         7.309322
17  제주특별자치도     1.547225        0.591716         0.947867         1.165254

   2017.8_체육시설_시설수  2018_학교_시설수  2018.2_공공청사_시설수  2018.4_문화시설_시설수   \
1          4.006678     9.770817        11.660468        11.246201
2          2.003339     5.019099         6.322468         4.052685
3          1.001669     3.758594          2.29709         1.215805
4          4.173623     4.675325         4.966091         5.572442
5          1.168614     2.360581         2.034566         2.026342
6          1.252087     2.711994         1.990812         1.519757
7          3.005008      2.10084         1.837672         2.228977
8          0.751252     1.069519         2.734631         1.519757
9         27.295492    22.734912        25.639904        23.100304
10          8.51419     5.339954         4.047254         6.382979
11         6.510851     4.064171         4.987968         3.242148
12          4.09015     5.599694         5.097353         4.660588
13         5.342237      6.18793           4.0035         4.559271
14         7.512521      6.96715         6.169328          8.81459
15         9.098497     7.754011         5.906804        11.043566
16        11.936561     8.349885         9.319624         7.598784
17         2.337229     1.535523         0.984467         1.215805

   2018.6_체육시설_시설수   ... 2020.4_문화시설_시설수  2020.6_체육시설_시설수  2021_학교_시설수   \
1          3.878702  ...        11.374408         4.118051     9.485628
2            2.2567  ...         4.170616         2.196294     4.969743
3          1.057828  ...         1.232227         1.235415     3.721634
4          3.949224  ...         5.592417         3.980782     4.848714
5           1.12835  ...         2.085308         1.098147      2.30711
6          1.198872  ...         1.516588         1.166781     2.866868
7          2.679831  ...         2.274882         2.676733     2.049924
8          0.987306  ...         2.654028         1.166781      1.12708
9         26.798307  ...        21.611374        25.875086    23.396369
10         8.392102  ...         5.971564          8.37337     5.295008
11         6.840621  ...         3.791469         6.932052     3.910741
12         4.442877  ...         4.454976         4.461222     5.559758
13         5.359661  ...         4.739336         5.902539     6.066566
14         7.686883  ...         8.530806         7.481126     6.959153
15         9.308886  ...        10.900474          9.19698     7.715582
16        11.918195  ...         7.962085        12.079616     8.229955
17         2.115656  ...         1.137441         2.059025     1.490166

   2021.2_공공청사_시설수  2021.4_문화시설_시설수  2021.6_체육시설_시설수  2022_학교_시설수   \
1         11.780483        11.131555         4.144385     9.501956
2          5.776769         4.047838         2.205882     4.942823
3          2.228182         1.195952         1.203209     3.701475
4          5.095936         5.519779          3.94385     5.048149
5          1.939344         2.023919         1.069519     2.302137
6          2.083763         1.471941         1.403743     2.851339
7          1.671137         2.207912         2.606952     2.023774
8          3.053435         2.575897         1.136364     1.120975
9         24.840107        22.355106        25.935829    23.239543
10         4.497627         5.887764         8.221925     5.266326
11         4.910254         3.863845         6.684492     3.972314
12         5.116567         4.599816         4.812834     5.732772
13         4.105632         4.875805         5.815508     6.041228
14         6.230658         8.279669         7.486631     6.891363
15         6.581391        10.763569         9.358289     7.658742
16         9.119043          8.00368        12.165775     8.222991
17         0.969672         1.195952         1.804813     1.482094

   2022.2_공공청사_시설수  2022.4_문화시설_시설수  2022.6_체육시설_시설수
1         11.814687        11.170213         4.246848
2          5.644346         3.989362         2.189781
3          2.205139         1.329787         1.260783
4          5.098119         5.319149          3.98142
5          1.962371          2.12766         1.194426
6          2.083755          1.41844          1.32714
7          1.658912          2.12766         2.587923
8          2.994133          2.48227         1.128069
9         24.802751        22.340426         25.87923
10         4.673275         5.496454         8.360982
11         5.057657         3.900709         6.569343
12         5.280194         4.964539         4.976775
13         4.086587         5.407801         5.773059
14          6.10965         7.890071          7.29927
15         6.413109         11.08156         9.223623
16         9.184706         7.801418        12.209688
17         0.930609         1.152482         1.791639

[17 rows x 26 columns]

## company

In [ ]:
# '전국, 전체 산업' 행의 값을 기준으로 나머지를 백분율화
national_total = df_company.iloc[0, 2:]  # 첫 번째 행의 2017~2022 사업체수 값 가져오기

# 나머지 행들에 대해 2017~2022 사업체수를 백분율로 변환
percentage_data = df_company.iloc[1:, 2:].div(national_total) * 100

# 지역 및 산업별 이름을 다시 추가
percentage_data['행정구역별'] = df_company['행정구역별'][1:].values
percentage_data['산업별'] = df_company['산업별'][1:].values
percentage_data = percentage_data[['행정구역별', '산업별'] + list(percentage_data.columns[:-2])]

In [ ]:
df_company = percentage_data

In [ ]:
# 전국 행을 제외
df_company = df_company[df_company['행정구역별'] != '전국']

In [ ]:
df_company

,행정구역별,산업별,2017_사업체수,2018_사업체수,2019_사업체수,2020_사업체수,2021_사업체수,2022_사업체수
20,서울,전체 산업,20.469881,20.067036,19.720204,20.077065,19.541928,19.218964
21,서울,"농업, 임업 및 어업(01~03)",0.000721,0.000731,0.000575,0.002818,0.002533,0.002296
22,서울,광업(05~08),0.000522,0.000585,0.000479,0.000414,0.000411,0.000423
23,서울,제조업(10~34),1.531964,1.437181,1.372449,1.303742,1.264371,1.231958
24,서울,"전기, 가스, 증기 및 공기조절 공급업(35)",0.003458,0.00446,0.005387,0.01366,0.011234,0.010635
...,...,...,...,...,...,...,...,...
355,제주,"공공행정, 국방 및 사회보장 행정(84)",0.005199,0.005191,0.005076,0.003465,0.003569,0.003534
356,제주,교육 서비스업(85),0.064281,0.065291,0.068262,0.057792,0.062322,0.062216
357,제주,보건업 및 사회복지 서비스업(86~87),0.047215,0.04767,0.048772,0.035312,0.035528,0.036808
358,제주,"예술, 스포츠 및 여가관련 서비스업(90~91)",0.041494,0.043893,0.04657,0.041164,0.043505,0.044219
359,제주,"협회 및 단체, 수리 및 기타 개인 서비스업(94~96)",0.133039,0.136163,0.139254,0.112367,0.117506,0.119204

In [ ]:

# '강원'이 있는지 확인
if df_company['행정구역별'].str.contains('강원').any():
    print("'강원'이 있습니다.")
else:
    print("'강원'이 없습니다.")

'강원'이 있습니다.

In [ ]:
df_facility

,지역,2017_학교_시설수,2017.2_운동장_시설수,2017.4_공공청사_시설수,2017.6_문화시설_시설수,2017.8_체육시설_시설수,2018_학교_시설수,2018.2_공공청사_시설수,2018.4_문화시설_시설수,2018.6_체육시설_시설수,...,2020.4_문화시설_시설수,2020.6_체육시설_시설수,2021_학교_시설수,2021.2_공공청사_시설수,2021.4_문화시설_시설수,2021.6_체육시설_시설수,2022_학교_시설수,2022.2_공공청사_시설수,2022.4_문화시설_시설수,2022.6_체육시설_시설수
1,서울특별시,9.86837,2.95858,11.825773,11.334746,4.006678,9.770817,11.660468,11.246201,3.878702,...,11.374408,4.118051,9.485628,11.780483,11.131555,4.144385,9.501956,11.814687,11.170213,4.246848
2,부산광역시,4.995766,3.550296,5.958023,3.919492,2.003339,5.019099,6.322468,4.052685,2.2567,...,4.170616,2.196294,4.969743,5.776769,4.047838,2.205882,4.942823,5.644346,3.989362,2.189781
3,대구광역시,3.818028,1.775148,2.3471,1.271186,1.001669,3.758594,2.29709,1.215805,1.057828,...,1.232227,1.235415,3.721634,2.228182,1.195952,1.203209,3.701475,2.205139,1.329787,1.260783
4,인천광역시,4.726349,2.95858,4.987587,6.144068,4.173623,4.675325,4.966091,5.572442,3.949224,...,5.592417,3.980782,4.848714,5.095936,5.519779,3.94385,5.048149,5.098119,5.319149,3.98142
5,광주광역시,2.37857,1.183432,2.076281,2.118644,1.168614,2.360581,2.034566,2.026342,1.12835,...,2.085308,1.098147,2.30711,1.939344,2.023919,1.069519,2.302137,1.962371,2.12766,1.194426
6,대전광역시,2.724963,1.183432,2.098849,1.694915,1.252087,2.711994,1.990812,1.519757,1.198872,...,1.516588,1.166781,2.866868,2.083763,1.471941,1.403743,2.851339,2.083755,1.41844,1.32714
7,울산광역시,2.224617,1.183432,1.986008,1.90678,3.005008,2.10084,1.837672,2.228977,2.679831,...,2.274882,2.676733,2.049924,1.671137,2.207912,2.606952,2.023774,1.658912,2.12766,2.587923
8,세종특별자치시,1.077669,1.775148,2.843602,1.588983,0.751252,1.069519,2.734631,1.519757,0.987306,...,2.654028,1.166781,1.12708,3.053435,2.575897,1.136364,1.120975,2.994133,2.48227,1.128069
9,경기도,22.05373,21.301775,25.02821,23.09322,27.295492,22.734912,25.639904,23.100304,26.798307,...,21.611374,25.875086,23.396369,24.840107,22.355106,25.935829,23.239543,24.802751,22.340426,25.87923
10,강원도,5.411439,8.87574,4.17513,6.25,8.51419,5.339954,4.047254,6.382979,8.392102,...,5.971564,8.37337,5.295008,4.497627,5.887764,8.221925,5.266326,4.673275,5.496454,8.360982
11,충청북도,4.110538,8.87574,5.168134,3.283898,6.510851,4.064171,4.987968,3.242148,6.840621,...,3.791469,6.932052,3.910741,4.910254,3.863845,6.684492,3.972314,5.057657,3.900709,6.569343
12,충청남도,5.642368,7.100592,5.145565,4.766949,4.09015,5.599694,5.097353,4.660588,4.442877,...,4.454976,4.461222,5.559758,5.116567,4.599816,4.812834,5.732772,5.280194,4.964539,4.976775
13,전라북도,6.165807,5.325444,3.972015,4.555085,5.342237,6.18793,4.0035,4.559271,5.359661,...,4.739336,5.902539,6.066566,4.105632,4.875805,5.815508,6.041228,4.086587,5.407801,5.773059
14,전라남도,7.03564,8.87574,6.183706,8.15678,7.512521,6.96715,6.169328,8.81459,7.686883,...,8.530806,7.481126,6.959153,6.230658,8.279669,7.486631,6.891363,6.10965,7.890071,7.29927
15,경상북도,7.828497,13.609467,5.890318,11.440678,9.098497,7.754011,5.906804,11.043566,9.308886,...,10.900474,9.19698,7.715582,6.581391,10.763569,9.358289,7.658742,6.413109,11.08156,9.223623
16,경상남도,8.390424,8.87574,9.365832,7.309322,11.936561,8.349885,9.319624,7.598784,11.918195,...,7.962085,12.079616,8.229955,9.119043,8.00368,12.165775,8.222991,9.184706,7.801418,12.209688
17,제주특별자치도,1.547225,0.591716,0.947867,1.165254,2.337229,1.535523,0.984467,1.215805,2.115656,...,1.137441,2.059025,1.490166,0.969672,1.195952,1.804813,1.482094,0.930609,1.152482,1.791639

## bus

In [ ]:
# '전국'의 값을 기준으로 나머지를 백분율화
national_values = df_bus.iloc[0, 1:]  # '전국'의 2019~2023 값 가져오기

# 나머지 행들에 대해 2019~2023 값을 백분율로 변환
percentage_data2 = df_bus.iloc[1:, 1:].div(national_values) * 100

# 시도 이름을 다시 추가
percentage_data2['시도'] = df_bus['시도'][1:].values
percentage_data2 = percentage_data2[['시도'] + list(percentage_data2.columns[:-1])]

In [ ]:
df_bus = percentage_data2

In [ ]:
df_bus

         시도       2019       2020       2021       2022       2023
1     서울특별시  18.142909  17.836346   15.80024  14.768945  14.915698
2     부산광역시    6.56828   6.505629   7.896372   7.578893   7.481949
3     대구광역시   2.586643   2.537204   3.210813   3.040753   3.028783
4     인천광역시   4.803893   4.738817   5.180354   5.457762   5.475221
5     광주광역시   1.723541   1.668464   2.059504   1.957198   1.918196
6     대전광역시   2.242113   2.205064   2.427923   2.393019   2.406107
7     울산광역시    2.05564   2.054091   2.462194   2.436001   2.397254
8   세종특별자치시   0.803609    0.82733   0.928544   0.961606   1.007299
9       경기도  27.134447  26.679895  30.641948  30.377545  30.448169
10      강원도   3.619347    3.46202    3.40359   3.379614   4.221999
11     충청북도   2.511166   2.482854   2.788845   3.029758   3.077967
12     충청남도   5.553336   5.964716   3.089791   3.295649   3.769502
13     전라북도   2.253656      2.306   2.325108   2.740876   2.496606
14     전라남도    3.78806    3.78467   3.299704   3.352625    2.80155
15     경상북도   7.693332   8.206876   4.508846   4.889995   4.746306
16     경상남도   5.817061   5.839624    7.01388   7.258024   6.752051
17  제주특별자치도   2.702967   2.900401   2.962344   3.081736   3.055342

## age

In [ ]:
df_age = pd.read_csv(f"{DATA_PATH}주민등록_인구_성_행정구역_시군구__연령5세별(전처리)__20241011123818 (1) (1).csv",encoding='cp949')

In [ ]:
# '연령별(1)'이 '전체'가 아닌 행만 필터링
df_age = df_age[df_age['연령별(1)'] != '전체']
df_age.head(4)

,행정구역별(1),연령별(1),2017_전체,2018_전체,2019_전체,2020_전체,2021_전체,2022_전체,2023_전체
1,전국,20-24세,3486427,3414902,3319645,3249676,3121322,2941841,2794440
2,전국,25-29세,3324540,3409071,3490711,3556477,3534601,3475340,3403046
3,전국,30-34세,3311945,3189361,3158230,3145998,3216061,3317257,3399252
5,서울특별시,20-24세,674674,658915,641964,630115,603077,578374,555058

In [ ]:
# '청년층' 데이터 만들기: 20-34세 합산
df_youth = df_age[df_age['연령별(1)'].isin(['20-24세', '25-29세', '30-34세'])]  # 20-34세 필터링
df_youth_sum = df_youth.groupby('행정구역별(1)').sum()  # 연도별로 합산
df_youth_sum['연령별(1)'] = '청년층'  # 연령대에 '청년층' 추가

# 결과 데이터프레임 정리
df_youth_sum = df_youth_sum.reset_index()[['행정구역별(1)', '연령별(1)', '2017_전체', '2018_전체', '2019_전체','2020_전체','2021_전체','2022_전체','2023_전체']]

# 결과 확인
print(df_youth_sum)

   행정구역별(1) 연령별(1)   2017_전체   2018_전체  2019_전체  2020_전체  2021_전체  2022_전체  \
0       강원도    청년층    265291    258682   256215   255093   252116   249761
1       경기도    청년층   2574018   2589641  2618608  2668923  2698168  2671733
2      경상남도    청년층    592042    577171   564668   549349   532533   511316
3      경상북도    청년층    451327    437491   427718   412758   404085   389780
4     광주광역시    청년층    293813    290845   290503   291507   290869   286441
5     대구광역시    청년층    475150    467881   459446   456190   445701   435428
6     대전광역시    청년층    311923    307329   303904   303400   302561   300523
7     부산광역시    청년층    659004    640783   628064   621716   610047   595503
8     서울특별시    청년층   2205731   2180139  2182481  2186793  2158278  2148180
9   세종특별자치시    청년층     52174     57862    61984    63467    65591    66232
10    울산광역시    청년층    232019    223936   218080   211967   204878   197507
11    인천광역시    청년층    606249    599170   595292   587439   584600   581896
12       전국    청년층  10122912  10013334  9968586  9952151  9871984  9734438
13     전라남도    청년층    300320    293173   288002   280920   273698   267627
14     전라북도    청년층    314577    306226   299053   294493   290091   283737
15      제주도    청년층    116932    117734   117341   117791   117248   115588
16     충청남도    청년층    378772    373643   368029   362894   357473   352317
17     충청북도    청년층    293570    291628   289198   287451   284047   280869

    2023_전체
0    244795
1   2641515
2    493865
3    376517
4    280851
5    428635
6    298850
7    580840
8   2133786
9     65186
10   191847
11   579298
12  9596738
13   262461
14   277996
15   113118
16   349310
17   277868

In [ ]:
# '연령별(1)' 열 제거
df_age = df_youth_sum.drop('연령별(1)', axis=1)
print(df_age)

   행정구역별(1)   2017_전체   2018_전체  2019_전체  2020_전체  2021_전체  2022_전체  2023_전체
0       강원도    265291    258682   256215   255093   252116   249761   244795
1       경기도   2574018   2589641  2618608  2668923  2698168  2671733  2641515
2      경상남도    592042    577171   564668   549349   532533   511316   493865
3      경상북도    451327    437491   427718   412758   404085   389780   376517
4     광주광역시    293813    290845   290503   291507   290869   286441   280851
5     대구광역시    475150    467881   459446   456190   445701   435428   428635
6     대전광역시    311923    307329   303904   303400   302561   300523   298850
7     부산광역시    659004    640783   628064   621716   610047   595503   580840
8     서울특별시   2205731   2180139  2182481  2186793  2158278  2148180  2133786
9   세종특별자치시     52174     57862    61984    63467    65591    66232    65186
10    울산광역시    232019    223936   218080   211967   204878   197507   191847
11    인천광역시    606249    599170   595292   587439   584600   581896   579298
12       전국  10122912  10013334  9968586  9952151  9871984  9734438  9596738
13     전라남도    300320    293173   288002   280920   273698   267627   262461
14     전라북도    314577    306226   299053   294493   290091   283737   277996
15      제주도    116932    117734   117341   117791   117248   115588   113118
16     충청남도    378772    373643   368029   362894   357473   352317   349310
17     충청북도    293570    291628   289198   287451   284047   280869   277868

In [ ]:
# '행정구역별(1)' 열에서 '전국' 행을 찾아서 그 값을 기준으로 나머지를 백분율로 변환
national_values3 = df_age[df_age['행정구역별(1)'] == '전국'].iloc[0, 1:]  # '전국' 행의 2017~2023 값 가져오기

# 나머지 행들에 대해 2017~2023 값을 백분율로 변환
percentage_data3 = df_age.iloc[0:, 0:].div(national_values3) * 100

# 행정구역별 이름을 다시 추가
percentage_data3['행정구역별(1)'] = df_age['행정구역별(1)'][0:].values
percentage_data3 = percentage_data3[['행정구역별(1)'] + list(percentage_data3.columns[:-1])]

In [ ]:
# 전국 행을 제외
percentage_data3 = percentage_data3[percentage_data3['행정구역별(1)'] != '전국']

In [ ]:
df_age = percentage_data3

In [ ]:
# 컬럼명 변경
df_age.columns = ['지역', '2017_population', '2018_population', '2019_population', '2020_population', '2021_population', '2022_population', '2023_population']

In [ ]:
df_age.columns

Index(['지역', '2017_population', '2018_population', '2019_population',
       '2020_population', '2021_population', '2022_population',
       '2023_population'],
      dtype='object')

In [ ]:
df_age

,지역,2017_population,2018_population,2019_population,2020_population,2021_population,2022_population,2023_population
0,강원도,2.620698,2.583375,2.570224,2.563195,2.553853,2.565746,2.550815
1,경기도,25.427644,25.861926,26.2686,26.817549,27.331568,27.446197,27.525134
2,경상남도,5.848534,5.764024,5.664474,5.519902,5.394387,5.25265,5.146176
3,경상북도,4.45847,4.369084,4.290659,4.147425,4.09325,4.004135,3.923385
4,광주광역시,2.902455,2.904577,2.914185,2.929085,2.946409,2.942553,2.926526
5,대구광역시,4.693807,4.67258,4.608939,4.583833,4.514807,4.473068,4.466466
6,대전광역시,3.081356,3.069198,3.048617,3.048587,3.064845,3.087215,3.114079
7,부산광역시,6.510024,6.399297,6.300432,6.247052,6.179578,6.117487,6.052473
8,서울특별시,21.789491,21.772359,21.893587,21.973069,21.862657,22.067838,22.234493
9,세종특별자치시,0.515405,0.577849,0.621793,0.637721,0.664416,0.680389,0.679252
10,울산광역시,2.292018,2.236378,2.187672,2.129861,2.075348,2.028951,1.999086
11,인천광역시,5.988879,5.983721,5.971679,5.902634,5.921809,5.977705,6.036405
13,전라남도,2.966735,2.927826,2.889096,2.822706,2.772472,2.74928,2.734898
14,전라북도,3.107574,3.058182,2.999954,2.959089,2.938528,2.914775,2.896776
15,제주도,1.155122,1.175772,1.177108,1.183573,1.187684,1.187413,1.178713
16,충청남도,3.74173,3.731454,3.691888,3.646388,3.621086,3.619284,3.639883
17,충청북도,2.900055,2.912397,2.901093,2.88833,2.877304,2.885313,2.895442

In [ ]:
# '강원'이 있는지 확인
if df_age['지역'].str.contains('강원도').any():
    print("'강원'이 있습니다.")
else:
    print("'강원'이 없습니다.")

'강원'이 있습니다.

---------------------------------------------------

# merge

In [ ]:
# 열 목록 확인
print(df_facility.columns)
print(df_company.columns)
print(df_bus.columns)
print(df_age.columns)

Index(['지역', '2017_학교_시설수 ', '2017.2_운동장_시설수 ', '2017.4_공공청사_시설수 ',
       '2017.6_문화시설_시설수 ', '2017.8_체육시설_시설수 ', '2018_학교_시설수 ',
       '2018.2_공공청사_시설수 ', '2018.4_문화시설_시설수 ', '2018.6_체육시설_시설수 ',
       '2019_학교_시설수 ', '2019.2_공공청사_시설수 ', '2019.4_문화시설_시설수 ',
       '2019.6_체육시설_시설수 ', '2020_학교_시설수 ', '2020.2_공공청사_시설수 ',
       '2020.4_문화시설_시설수 ', '2020.6_체육시설_시설수 ', '2021_학교_시설수 ',
       '2021.2_공공청사_시설수 ', '2021.4_문화시설_시설수 ', '2021.6_체육시설_시설수 ',
       '2022_학교_시설수 ', '2022.2_공공청사_시설수 ', '2022.4_문화시설_시설수 ',
       '2022.6_체육시설_시설수 '],
      dtype='object')
Index(['행정구역별', '산업별', '2017_사업체수', '2018_사업체수', '2019_사업체수', '2020_사업체수',
       '2021_사업체수', '2022_사업체수'],
      dtype='object')
Index(['시도', '2019', '2020', '2021', '2022', '2023'], dtype='object')
Index(['지역', '2017_population', '2018_population', '2019_population',
       '2020_population', '2021_population', '2022_population',
       '2023_population'],
      dtype='object')

In [ ]:
# 특정 컬럼명 수정
df_company = df_company.rename(columns={'행정구역별': '지역'})
df_bus = df_bus.rename(columns={'시도': '지역'})
df_age = df_age.rename(columns={'행정구역별(1)': '지역'})

In [ ]:
# 첫 번째 열의 이름을 알아낸 후 해당 열의 값을 모두 변경
df_facility['지역'] = df_facility['지역'].replace({'서울특별시': '서울', '부산광역시': '부산', '대구광역시': '대구', '인천광역시':'인천', '광주광역시':'광주', '대전광역시':'대전',
       '울산광역시':'울산', '세종특별자치시':'세종', '경기도':'경기', '강원도':'강원', '충청북도':'충북', '충청남도':'충남', '전라북도':'전북', '전라남도':'전남',
       '경상북도':'경북', '경상남도':'경남', '제주특별자치도':'제주'})
df_bus['지역'] = df_bus['지역'].replace({'서울특별시': '서울', '부산광역시': '부산', '대구광역시': '대구', '인천광역시':'인천', '광주광역시':'광주', '대전광역시':'대전',
       '울산광역시':'울산', '세종특별자치시':'세종', '경기도':'경기', '강원도':'강원', '충청북도':'충북', '충청남도':'충남', '전라북도':'전북', '전라남도':'전남',
       '경상북도':'경북', '경상남도':'경남', '제주특별자치도':'제주'})
df_age['지역'] = df_age['지역'].replace({'서울특별시': '서울', '부산광역시': '부산', '대구광역시': '대구', '인천광역시':'인천', '광주광역시':'광주', '대전광역시':'대전',
       '울산광역시':'울산', '세종특별자치시':'세종', '경기도':'경기', '강원도':'강원', '충청북도':'충북', '충청남도':'충남', '전라북도':'전북', '전라남도':'전남',
       '경상북도':'경북', '경상남도':'경남', '제주특별자치도':'제주'})

In [ ]:
print(df_facility.columns)
print(df_company.columns)
print(df_bus.columns)
print(df_age.columns)

Index(['지역', '2017_학교_시설수 ', '2017.2_운동장_시설수 ', '2017.4_공공청사_시설수 ',
       '2017.6_문화시설_시설수 ', '2017.8_체육시설_시설수 ', '2018_학교_시설수 ',
       '2018.2_공공청사_시설수 ', '2018.4_문화시설_시설수 ', '2018.6_체육시설_시설수 ',
       '2019_학교_시설수 ', '2019.2_공공청사_시설수 ', '2019.4_문화시설_시설수 ',
       '2019.6_체육시설_시설수 ', '2020_학교_시설수 ', '2020.2_공공청사_시설수 ',
       '2020.4_문화시설_시설수 ', '2020.6_체육시설_시설수 ', '2021_학교_시설수 ',
       '2021.2_공공청사_시설수 ', '2021.4_문화시설_시설수 ', '2021.6_체육시설_시설수 ',
       '2022_학교_시설수 ', '2022.2_공공청사_시설수 ', '2022.4_문화시설_시설수 ',
       '2022.6_체육시설_시설수 '],
      dtype='object')
Index(['지역', '산업별', '2017_사업체수', '2018_사업체수', '2019_사업체수', '2020_사업체수',
       '2021_사업체수', '2022_사업체수'],
      dtype='object')
Index(['지역', '2019', '2020', '2021', '2022', '2023'], dtype='object')
Index(['지역', '2017_population', '2018_population', '2019_population',
       '2020_population', '2021_population', '2022_population',
       '2023_population'],
      dtype='object')

# 시설, 버스 merge

In [ ]:
merged_df = pd.merge(df_facility, df_bus, on='지역', how='inner')

In [ ]:
# 공통 열을 기준으로 병합 -- 지역
# merged_df = pd.merge(df_facility, df_company, on='지역', how='inner')
# merged_df = pd.merge(merged_df, df_bus, on='지역', how='inner')
# merged_df = pd.merge(merged_df, df_age, on='지역', how='inner')

In [ ]:
print(merged_df.head(10))

   지역 2017_학교_시설수  2017.2_운동장_시설수  2017.4_공공청사_시설수  2017.6_문화시설_시설수   \
0  서울      9.86837         2.95858        11.825773        11.334746
1  부산     4.995766        3.550296         5.958023         3.919492
2  대구     3.818028        1.775148           2.3471         1.271186
3  인천     4.726349         2.95858         4.987587         6.144068
4  광주      2.37857        1.183432         2.076281         2.118644
5  대전     2.724963        1.183432         2.098849         1.694915
6  울산     2.224617        1.183432         1.986008          1.90678
7  세종     1.077669        1.775148         2.843602         1.588983
8  경기     22.05373       21.301775         25.02821         23.09322
9  강원     5.411439         8.87574          4.17513             6.25

  2017.8_체육시설_시설수  2018_학교_시설수  2018.2_공공청사_시설수  2018.4_문화시설_시설수   \
0         4.006678     9.770817        11.660468        11.246201
1         2.003339     5.019099         6.322468         4.052685
2         1.001669     3.758594          2.29709         1.215805
3         4.173623     4.675325         4.966091         5.572442
4         1.168614     2.360581         2.034566         2.026342
5         1.252087     2.711994         1.990812         1.519757
6         3.005008      2.10084         1.837672         2.228977
7         0.751252     1.069519         2.734631         1.519757
8        27.295492    22.734912        25.639904        23.100304
9          8.51419     5.339954         4.047254         6.382979

  2018.6_체육시설_시설수   ... 2021.6_체육시설_시설수  2022_학교_시설수  2022.2_공공청사_시설수   \
0         3.878702  ...         4.144385     9.501956        11.814687
1           2.2567  ...         2.205882     4.942823         5.644346
2         1.057828  ...         1.203209     3.701475         2.205139
3         3.949224  ...          3.94385     5.048149         5.098119
4          1.12835  ...         1.069519     2.302137         1.962371
5         1.198872  ...         1.403743     2.851339         2.083755
6         2.679831  ...         2.606952     2.023774         1.658912
7         0.987306  ...         1.136364     1.120975         2.994133
8        26.798307  ...        25.935829    23.239543        24.802751
9         8.392102  ...         8.221925     5.266326         4.673275

  2022.4_문화시설_시설수  2022.6_체육시설_시설수        2019       2020       2021  \
0        11.170213         4.246848  18.142909  17.836346   15.80024
1         3.989362         2.189781    6.56828   6.505629   7.896372
2         1.329787         1.260783   2.586643   2.537204   3.210813
3         5.319149          3.98142   4.803893   4.738817   5.180354
4          2.12766         1.194426   1.723541   1.668464   2.059504
5          1.41844          1.32714   2.242113   2.205064   2.427923
6          2.12766         2.587923    2.05564   2.054091   2.462194
7          2.48227         1.128069   0.803609    0.82733   0.928544
8        22.340426         25.87923  27.134447  26.679895  30.641948
9         5.496454         8.360982   3.619347    3.46202    3.40359

        2022       2023
0  14.768945  14.915698
1   7.578893   7.481949
2   3.040753   3.028783
3   5.457762   5.475221
4   1.957198   1.918196
5   2.393019   2.406107
6   2.436001   2.397254
7   0.961606   1.007299
8  30.377545  30.448169
9   3.379614   4.221999

[10 rows x 31 columns]

In [ ]:
# 특정 컬럼명 수정

merged_df = merged_df.rename(columns={'2019':'2019_정류장', '2020':'2020_정류장', '2021':'2021_정류장', '2022':'2022_정류장','2023':'2023_정류장'})

merged_df.columns = merged_df.columns.str.strip()  # 모든 컬럼명에서 공백 제거

In [ ]:
# 열 이름 수정 함수
def modify_column_name(name):
    # 점(.)이 있는 경우
    if '.' in name:
        # 첫 번째 점(.)에서 나누고 첫 번째 부분(연도)을 가져오기
        year = name.split('.')[0]  # '2017', '2018', ...
        # 연도와 나머지 부분을 조합하여 새로운 이름 생성
        return f"{year}_{name.split('_', 1)[1]}"
    else:
        # 점이 없거나 문자열만 있는 경우 원래 이름 반환
        return name

# 모든 열 이름에 함수 적용
modified_columns = [modify_column_name(col) for col in merged_df.columns]

merged_df.columns = modified_columns

In [ ]:
merged_df.head()

,지역,2017_학교_시설수,2017_운동장_시설수,2017_공공청사_시설수,2017_문화시설_시설수,2017_체육시설_시설수,2018_학교_시설수,2018_공공청사_시설수,2018_문화시설_시설수,2018_체육시설_시설수,...,2021_체육시설_시설수,2022_학교_시설수,2022_공공청사_시설수,2022_문화시설_시설수,2022_체육시설_시설수,2019_정류장,2020_정류장,2021_정류장,2022_정류장,2023_정류장
0,서울,9.86837,2.95858,11.825773,11.334746,4.006678,9.770817,11.660468,11.246201,3.878702,...,4.144385,9.501956,11.814687,11.170213,4.246848,18.142909,17.836346,15.80024,14.768945,14.915698
1,부산,4.995766,3.550296,5.958023,3.919492,2.003339,5.019099,6.322468,4.052685,2.2567,...,2.205882,4.942823,5.644346,3.989362,2.189781,6.56828,6.505629,7.896372,7.578893,7.481949
2,대구,3.818028,1.775148,2.3471,1.271186,1.001669,3.758594,2.29709,1.215805,1.057828,...,1.203209,3.701475,2.205139,1.329787,1.260783,2.586643,2.537204,3.210813,3.040753,3.028783
3,인천,4.726349,2.95858,4.987587,6.144068,4.173623,4.675325,4.966091,5.572442,3.949224,...,3.94385,5.048149,5.098119,5.319149,3.98142,4.803893,4.738817,5.180354,5.457762,5.475221
4,광주,2.37857,1.183432,2.076281,2.118644,1.168614,2.360581,2.034566,2.026342,1.12835,...,1.069519,2.302137,1.962371,2.12766,1.194426,1.723541,1.668464,2.059504,1.957198,1.918196

In [ ]:
# 열 이름을 변환하여 연도를 행으로 변환
df_melted = merged_df.melt(id_vars=['지역'], var_name='시설 종류', value_name='수치')

In [ ]:
# 연도와 시설 종류 분리
df_melted[['연도', '시설']] = df_melted['시설 종류'].str.split('_', n=1, expand=True)

In [ ]:
# 불필요한 열 제거
df_final = df_melted.drop(columns=['시설 종류'])

In [ ]:
# 열 순서 재배치
df_final = df_final[['지역', '연도', '시설', '수치']]

In [ ]:
print(df_final.head(5))
print(df_final.tail(5))

   지역    연도      시설        수치
0  서울  2017  학교_시설수   9.86837
1  부산  2017  학교_시설수  4.995766
2  대구  2017  학교_시설수  3.818028
3  인천  2017  학교_시설수  4.726349
4  광주  2017  학교_시설수   2.37857
     지역    연도   시설        수치
505  전북  2023  정류장  2.496606
506  전남  2023  정류장   2.80155
507  경북  2023  정류장  4.746306
508  경남  2023  정류장  6.752051
509  제주  2023  정류장  3.055342

# company 와 age merge

In [ ]:
df_age.head(3)

,지역,2017_population,2018_population,2019_population,2020_population,2021_population,2022_population,2023_population
0,강원,2.620698,2.583375,2.570224,2.563195,2.553853,2.565746,2.550815
1,경기,25.427644,25.861926,26.2686,26.817549,27.331568,27.446197,27.525134
2,경남,5.848534,5.764024,5.664474,5.519902,5.394387,5.25265,5.146176

In [ ]:
# 1. 첫 번째 데이터셋을 세로로 변환 (연도, 사업체 수)
df1_melted = pd.melt(df_company, id_vars=['지역', '산업별'],
                     var_name='연도', value_name='사업체수')
df1_melted['연도'] = df1_melted['연도'].str.extract('(\d+)')  # '2017_사업체수' -> '2017' 추출

# 2. 두 번째 데이터셋을 세로로 변환 (연도, 인구)
df2_melted = pd.melt(df_age, id_vars=['지역'],
                     var_name='연도', value_name='population')
df2_melted['연도'] = df2_melted['연도'].str.extract('(\d+)')  # '2017_전체' -> '2017' 추출

In [ ]:
# 3. 두 데이터셋 결합 (공통 키는 '지역'과 '연도')
merged_company_age = pd.merge(df1_melted, df2_melted, on=['지역', '연도'], how='inner')

In [ ]:
# 결과 확인
print(merged_company_age.head())
print(merged_company_age.tail())

   지역                        산업별    연도       사업체수 population
0  서울                      전체 산업  2017  20.469881  21.789491
1  서울         농업, 임업 및 어업(01~03)  2017   0.000721  21.789491
2  서울                  광업(05~08)  2017   0.000522  21.789491
3  서울                 제조업(10~34)  2017   1.531964  21.789491
4  서울  전기, 가스, 증기 및 공기조절 공급업(35)  2017   0.003458  21.789491
      지역                              산업별    연도      사업체수 population
1915  경남           공공행정, 국방 및 사회보장 행정(84)  2022  0.017183    5.25265
1916  경남                      교육 서비스업(85)  2022  0.283946    5.25265
1917  경남           보건업 및 사회복지 서비스업(86~87)  2022  0.169824    5.25265
1918  경남       예술, 스포츠 및 여가관련 서비스업(90~91)  2022  0.135996    5.25265
1919  경남  협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  2022  0.571068    5.25265

In [ ]:
# 열 순서 재배치
merged_company_bus = merged_company_age[['지역', '연도', '산업별', '사업체수','population']]

## 4개 다 merge

In [ ]:
# 1. 두 데이터프레임 병합 (공통 키는 '지역'과 '연도')
merged_df_all = pd.merge(df_final, merged_company_bus, on=['지역', '연도'], how='inner')

# 결과 확인
print(merged_df_all.head())
print(merged_df_all.tail())

   지역    연도      시설       수치                        산업별       사업체수 population
0  서울  2017  학교_시설수  9.86837                      전체 산업  20.469881  21.789491
1  서울  2017  학교_시설수  9.86837         농업, 임업 및 어업(01~03)   0.000721  21.789491
2  서울  2017  학교_시설수  9.86837                  광업(05~08)   0.000522  21.789491
3  서울  2017  학교_시설수  9.86837                 제조업(10~34)   1.531964  21.789491
4  서울  2017  학교_시설수  9.86837  전기, 가스, 증기 및 공기조절 공급업(35)   0.003458  21.789491
      지역    연도   시설        수치                              산업별      사업체수  \
9275  경남  2022  정류장  7.258024           공공행정, 국방 및 사회보장 행정(84)  0.017183
9276  경남  2022  정류장  7.258024                      교육 서비스업(85)  0.283946
9277  경남  2022  정류장  7.258024           보건업 및 사회복지 서비스업(86~87)  0.169824
9278  경남  2022  정류장  7.258024       예술, 스포츠 및 여가관련 서비스업(90~91)  0.135996
9279  경남  2022  정류장  7.258024  협회 및 단체, 수리 및 기타 개인 서비스업(94~96)  0.571068

     population
9275    5.25265
9276    5.25265
9277    5.25265
9278    5.25265
9279    5.25265

# csv 파일로 저장

In [ ]:
# 데이터프레임을 CSV 파일로 저장
# merged_df_all.to_csv('merged_data_per_mid.csv', index=False, encoding='utf-8-sig')

In [ ]:
# from google.colab import files
# files.download('merged_data_per_mid.csv')

# 결측치 확인

In [ ]:
missing_values = merged_df_all.isnull().sum()
missing_values

지역            0
연도            0
시설            0
수치            0
산업별           0
사업체수          0
population    0
dtype: int64